<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-4 table-button">
      <button mat-raised-button (click)="onGetUserFood(); onReset()">Update Table (GET)</button>
    </div>
    <div class="col-xs-4 table-button">
      <button mat-raised-button (click)="onOpenPostForm()">Open 'Add New Entry' Form (POST)</button>
    </div>
    <div class="col-xs-4 table-button">
        <button mat-raised-button (click)="onOpenDeleteForm()">Choose to Delete (DELETE)</button>
      </div>
  </div>

  <div class="row centeredForm" *ngIf="isPostForm">
    <div class="col-md-12">
      <form>
        <mat-form-field>
          <input matInput placeholder="Hero Name*" type="text" name="heroName" [(ngModel)]="form.hero_name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name*" type="text" name="firstName" [(ngModel)]="form.first_name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name*" type="text" name="lastName" [(ngModel)]="form.last_name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="A Favorite Food" type="text" name="favoriteFood" [(ngModel)]="form.favorite_food">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row centeredButton" *ngIf="isPostForm">
    <div class="col-sm-12">
      <button mat-raised-button (click)="onPostForm()">Confirm Submit New Entry (POST)</button>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 1.6rem;" *ngIf="notification">
    <div class="col-6" style="text-align: center;">
      <h5 style="color: red;">{{ notification }}</h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xs-12" style="width: 100%;">
      <table mat-table [dataSource]="heroes" class="mat-elevation-z1">
        <ng-container matColumnDef="hero_name">
          <th mat-header-cell *matHeaderCellDef> Hero Name</th>
          <td mat-cell *matCellDef="let element"> {{element.hero_name | titlecase | returnStringIfEmpty}}</td>
        </ng-container>

        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef> First Name</th>
          <td mat-cell *matCellDef="let element"> {{element.first_name | titlecase | returnStringIfEmpty }}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef> Last Name</th>
          <td mat-cell *matCellDef="let element"> {{element.last_name | titlecase | returnStringIfEmpty }}</td>
          </ng-container>

          <ng-container matColumnDef="favorite_foods">
            <th mat-header-cell *matHeaderCellDef> Favorite Foods</th>
            <td mat-cell *matCellDef="let element">
              <ul>
                <li *ngFor="let food of element.favorite_foods">
                  {{ food.food | titlecase | returnStringIfEmpty }}
                  <button mat-button *ngIf="isDeleteForm" (click)="onDeleteForm(food.id)"><span style="font-size: 10px; color: red;"> delete </span></button>
                </li>
              </ul>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
